<app-buku-add (bukuAdded)="onBukuAdded($event)" [bukuChild]="bukuEdit"></app-buku-add>
<app-buku-list [bukuParent]=bukuList (dariChildKeParent)="onBukuEdit($event)"></app-buku-list>
<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg bg-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/buku">Buku</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>
